/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}
  
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.noPaddingLeftRight{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginRight10 {
    margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}